Repository fu-penzi/maheta: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.json --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.scss": ["prettier --config ./.prettierrc.json --write", "git add"],
  "src/**/*.component.html": [
    "prettier --config ./.prettierrc.json --write",
    "eslint --fix",
    "git add"
  ],
  "src/**/*.ts": ["prettier --config ./.prettierrc.json --write", "eslint --fix", "git add"]
}

fix: Upgrade Capacitor to 4.0 - @jofr/capacitor-media-session
  package-lock.json
  package.json
Due: none

fix: Remove music controls seek seekforward/seekbackward
  src/app/services/music-control/music-control.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

fix: Album and Artist whitespace trim
  src/app/db/domain/track.schema.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: Navigation state storage, Music Control state storage
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/db/database.service.ts
  src/app/maheta/albums/albums.component.html
  src/app/maheta/albums/albums.module.ts
  src/app/maheta/albums/components/album-tracks/album-tracks.component.html
  src/app/maheta/albums/components/album-tracks/album-tracks.component.scss
  src/app/maheta/albums/components/album-tracks/album-tracks.component.ts
  src/app/model/localStorage.enum.ts
  src/app/modules/layout/components/sidenav/sidenav.component.html
  src/app/modules/layout/layout.component.ts
  src/app/services/app-state-cache.service.spec.ts
  src/app/services/app-state-cache.service.ts
  src/app/services/music-control/music-control.service.ts
  src/app/services/navigation.service.ts
  src/app/services/queue.service.ts
  src/app/services/stacking-context.service.ts
  tsconfig.json
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: Upgrade Capacitor to 5.0
  android/app/build.gradle
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/assets/capacitor.plugins.json
  android/build.gradle
  android/capacitor.settings.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
  android/variables.gradle
  capacitor.config.ts
  package-lock.json
  package.json
  src/app/services/file-loading.service.ts
  src/app/services/music-control/music-control.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: Upgrade Capacitor to 5.0
  android/app/capacitor.build.gradle
  android/app/src/main/assets/capacitor.plugins.json
  android/build.gradle
  android/capacitor.settings.gradle
  android/variables.gradle
  package-lock.json
  package.json
Due: none

fix: Broken album navigation when loading metadata
  src/app/services/stacking-context.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: Style update
  android/app/src/main/assets/capacitor.config.json
  capacitor.config.ts
  package-lock.json
  package.json
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.html
  src/app/services/music-control/music-control.service.ts
  src/styles/forward/shared-styles.scss
  src/variables/_variables.scss
  tsconfig.json
Due: prettier --config ./.prettierrc.json --write, eslint --fix

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

fix: Sync:prod script for Github Actions
  package.json
Due: none

fix: Faster player sheet closing
  src/app/app.component.ts
  src/styles/overrides.scss
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: Album track animations, empty tab info text
  src/app/maheta/albums/albums.component.html
  src/app/maheta/playlists/playlists.component.html
  src/app/maheta/playlists/playlists.component.scss
  src/app/maheta/playlists/playlists.component.ts
  src/app/maheta/playlists/playlists.module.ts
  src/app/maheta/songs/songs.component.html
  src/app/modules/shared/info-text/info-text.component.html
  src/app/modules/shared/info-text/info-text.component.scss
  src/app/modules/shared/info-text/info-text.component.ts
  src/app/modules/shared/shared.module.ts
  src/styles/overrides.scss
Due: prettier --config ./.prettierrc.json --write, eslint --fix

fix: Remove some unnecessary style overrides
  src/app/maheta/settings/settings.component.html
  src/app/modules/shared/dialog/create-playlist-dialog/create-playlist-dialog.component.html
  src/app/modules/shared/dialog/edit-lyrics-dialog/edit-lyrics-dialog.component.html
  src/app/modules/shared/dialog/edit-storage-settings-dialog/edit-storage-settings-dialog.component.html
  src/styles/overrides.scss
  src/styles/theme/light-theme.scss
Due: prettier --config ./.prettierrc.json --write, eslint --fix

fix: Song incorrectly shown info-text
  src/app/maheta/albums/albums.component.html
  src/app/maheta/albums/albums.component.ts
  src/app/maheta/playlists/playlists.component.html
  src/app/maheta/playlists/playlists.component.ts
  src/app/maheta/songs/songs.component.html
  src/app/maheta/songs/songs.component.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

fix: Hide scrollbar on PlayerSheet
  src/styles.scss
  src/styles/overrides.scss
Due: prettier --config ./.prettierrc.json --write

fix: Change apk generating tool to apksigner
  android/app/src/main/assets/capacitor.config.json
  capacitor.config.ts
Due: none

fix: Change apk generating tool to apksigner
  .github/workflows/node.js.yml
  android/app/src/main/assets/capacitor.config.json
Due: none

Update package.json
  package.json
Due: none

fix: Update build config
  .github/workflows/node.js.yml
  android/app/src/main/assets/capacitor.config.json
  capacitor.config.ts
  package-lock.json
  package.json
Due: none

fix: Update npm run script
  package.json
Due: none

fix: DEV app red screen on disconnect
  android/app/src/main/assets/capacitor.config.json
  capacitor.config.ts
  src/app/services/music-control/music-control.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: JPEG compression
  src/app/app.component.ts
  src/app/db/domain/track.schema.ts
  src/app/maheta/albums/albums.component.html
  src/app/maheta/albums/albums.component.scss
  src/app/maheta/albums/albums.module.ts
  src/app/modules/shared/shared.module.ts
  src/app/services/music-control/music-control.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix
