Repository fu-penzi/maheta: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Faster track metadata loading using concurrency
  src/app/db/collections/track-collection.service.ts
  src/app/services/file-loading.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

chore: Update gradle
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  capacitor.config.ts
  package.json
Due: none

fix: Buffer loading metadata, faster collection empty check
  src/app/db/collections/collection.service.ts
  src/app/db/collections/track-collection.service.ts
  src/app/db/database.service.ts
  src/app/services/file-loading.service.ts
  src/app/services/music-library/music-library.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

fix: Remove default PlayerBar #9
  src/app/maheta/albums/albums.component.scss
  src/app/maheta/albums/components/album-tracks/album-tracks.component.scss
  src/app/maheta/playlists/components/playlist-tracks/playlist-tracks.component.scss
  src/app/modules/layout/components/player-bar/player-bar.component.html
  src/app/modules/layout/components/player-bar/player-bar.component.ts
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.scss
  src/app/modules/shared/playlist-scroll-view/playlist-scroll-view.component.scss
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.scss
  src/styles/forward/shared-styles.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Player flexible layout #10
  .lintstagedrc.json
  src/app/modules/layout/layout.component.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/sheet/player-sheet/components/player-controls/player-controls.component.scss
  src/app/modules/shared/sheet/player-sheet/components/player-lyrics/player-lyrics.component.html
  src/app/modules/shared/sheet/player-sheet/components/player-lyrics/player-lyrics.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
  src/styles/overrides.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Center swiper and track name #10
  src/app/modules/shared/sheet/player-sheet/components/player-controls/player-controls.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
  src/styles.scss
  src/styles/forward/variables.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

feat: Player - gradient background, header
  .stylelintrc.json
  src/app/modules/layout/components/app-bar/app-bar.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
  src/app/services/music-control/music-control.service.ts
  src/assets/i18n/en.json
  src/assets/i18n/pl.json
  src/styles.scss
  src/styles/forward/variables.scss
  src/styles/overrides.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Not persisting fade in and out animation
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

fix: White line between backgrounds
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/styles/forward/variables.scss
Due: prettier --config ./.prettierrc.json --write, stylelint

feat: Player header buttons, navigate to album tracks when track title clicked
  src/app/modules/layout/components/player-bar/player-bar.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Remove showing 0:00 on track list view
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.html
  src/app/pipes/duration.pipe.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: Add swiper transition
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

feat: Change bottom navigation to side navigation
  src/app/modules/layout/components/app-bar/app-bar.component.html
  src/app/modules/layout/components/app-bar/app-bar.component.ts
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.scss
  src/app/modules/layout/layout.component.ts
  src/app/modules/layout/layout.module.ts
  src/app/services/navigation.service.ts
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

feat: Side navigation
  src/app/api/api/translator.service.ts
  src/app/app.module.ts
  src/app/modules/layout/components/player-bar/player-bar.component.scss
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.scss
  src/app/modules/layout/layout.component.ts
  src/app/modules/layout/layout.module.ts
  src/styles.scss
  src/styles/overrides.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Hide sidenav when player open
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.ts
  src/styles/forward/shared-styles.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Larger sidenav edge start, refactor
  mock/rest/translator/#lookup#{word}/GET/mock/response.txt
  src/app/modules/layout/components/player-bar/player-bar.component.html
  src/app/modules/layout/layout.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
  src/styles.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

feat: Img lazy loading
  src/app/app.module.ts
  src/app/maheta/albums/albums.component.html
  src/app/maheta/albums/albums.component.scss
  src/app/modules/shared/playlist-scroll-view/playlist-scroll-view.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.html
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Add trackBy to albums
  src/app/maheta/albums/albums.component.html
  src/app/maheta/albums/albums.component.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: Persisting player bottom sheet for better performance
  src/app/modules/layout/components/player-bar/player-bar.component.ts
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.ts
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.ts
  src/app/services/maheta.service.ts
  src/app/services/navigation.service.ts
  src/app/services/player-sheet.service.ts
  src/styles.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Ignore threshold when skipping to previous track with swiper
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
  src/app/services/music-control/music-control.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

fix: Change sliderStartThreshold to percentage (4%)
  src/app/modules/shared/sheet/player-sheet/components/player-controls/player-controls.component.ts
  src/app/services/music-control/music-control.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

feat: SetClassAfterViewInitDirective to set class AfterViewInit
  src/app/directives/after-view-init-class.directive.spec.ts
  src/app/directives/set-class-after-view-init.directive.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

refactor: Move Sidenav to new component
  .stylelintrc.json
  src/app/modules/layout/components/sidenav/sidenav.component.html
  src/app/modules/layout/components/sidenav/sidenav.component.scss
  src/app/modules/layout/components/sidenav/sidenav.component.spec.ts
  src/app/modules/layout/components/sidenav/sidenav.component.ts
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.scss
  src/app/modules/layout/layout.component.ts
  src/app/modules/layout/layout.module.ts
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

refactor: Move swiper to new OnPush component
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/sheet/player-sheet/components/player-controls/player-controls.component.ts
  src/app/modules/shared/sheet/player-sheet/components/player-swiper/player-swiper.component.html
  src/app/modules/shared/sheet/player-sheet/components/player-swiper/player-swiper.component.scss
  src/app/modules/shared/sheet/player-sheet/components/player-swiper/player-swiper.component.spec.ts
  src/app/modules/shared/sheet/player-sheet/components/player-swiper/player-swiper.component.ts
  src/app/modules/shared/sheet/player-sheet/components/player-swiper/player-swiper.config.ts
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

refactor: Implement OnPush strategy in TrackScrollView
  src/app/db/domain/album.ts
  src/app/maheta/albums/components/album-tracks/album-tracks.component.html
  src/app/maheta/albums/components/album-tracks/album-tracks.component.ts
  src/app/maheta/playlists/components/playlist-tracks/playlist-tracks.component.html
  src/app/maheta/playlists/components/playlist-tracks/playlist-tracks.component.ts
  src/app/maheta/songs/songs.component.html
  src/app/maheta/songs/songs.component.ts
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

fix: Album list hiding with visibility: hidden
  src/app/maheta/albums/albums.component.html
  src/app/maheta/albums/albums.component.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Main content overflow
  src/app/modules/layout/layout.component.scss
Due: prettier --config ./.prettierrc.json --write, stylelint

feat: Stacking context for Albums and AlbumTracks
  src/app/maheta/albums/albums.component.html
  src/app/maheta/albums/albums.component.ts
  src/app/maheta/albums/albums.module.ts
  src/app/maheta/albums/components/album-tracks/album-tracks.component.ts
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.html
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.ts
  src/app/services/navigation.service.ts
  src/app/services/stacking-context.service.spec.ts
  src/app/services/stacking-context.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

refactor: Change ellipsis mixin to class
  src/app/maheta/albums/albums.component.html
  src/app/maheta/albums/albums.component.scss
  src/app/modules/layout/components/player-bar/player-bar.component.html
  src/app/modules/layout/components/player-bar/player-bar.component.scss
  src/app/modules/shared/playlist-scroll-view/playlist-scroll-view.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.html
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.scss
  src/app/modules/shared/sheet/player-sheet/player-sheet.component.ts
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.html
  src/styles/forward/utility.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

feat: Waveform animation on active track
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.html
  src/styles/forward/shared-styles.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

feat: Album tracks header
  src/app/maheta/albums/components/album-tracks/album-tracks.component.html
  src/app/maheta/albums/components/album-tracks/album-tracks.component.scss
  src/app/maheta/albums/components/album-tracks/album-tracks.component.ts
  src/app/modules/shared/playlist-scroll-view/playlist-scroll-view.component.html
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.html
  src/app/pipes/duration.pipe.ts
  src/assets/i18n/en.json
  src/assets/i18n/pl.json
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

fix: Ellipsis on album tracks header, disable choppy waveform animation
  src/app/maheta/albums/components/album-tracks/album-tracks.component.html
  src/app/maheta/albums/components/album-tracks/album-tracks.component.scss
  src/app/modules/shared/track-scroll-view/track-scroll-view.component.html
  src/styles/forward/shared-styles.scss
Due: prettier --config ./.prettierrc.json --write, stylelint, eslint --fix

Update README.md
  README.md
Due: none

feat: Upgrade Capacitor to 4.0
  android/app/build.gradle
  android/app/capacitor.build.gradle
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/variables.gradle
  angular.json
  capacitor.config.ts
  package-lock.json
  package.json
  src/app/services/file-loading.service.ts
Due: prettier --config ./.prettierrc.json --write, eslint --fix

Path conditions:
  prettier --config ./.prettierrc.json --write: ((any of: src/**/*.scss) or (any of: src/**/*.component.html)) or (any of: src/**/*.ts)
  stylelint: any of: src/**/*.scss
  eslint --fix: (any of: src/**/*.component.html) or (any of: src/**/*.ts)
